body {
  display: block;
  margin: 50px auto;
  max-width: 70%;
}
button {
  display: block;
}
h1,
h4 {
  display: inline;
}
li {
  list-style-type: none;
}
img {
  margin: 10px;
  width: 75px;
}
.coded-by {
  font-family: monospace;
}
.col {
  text-align: center;
}
.open-source-code {
  text-decoration: none;
  color: #31d2f2;
  transition: all 200ms ease-in-out;
}
.open-source-code:hover {
  color: #ffca2c;
  cursor: pointer;
  text-decoration: underline;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  color: black;
}
